<?php
/**
 
 */
$catalogSearchHelper =  $this->helper('catalogsearch');
?>
 <?php if(Mage::helper('instantsearch')->getsearchurl()!='1') { ?>
<form id="search_mini_form" action="<?php  echo $catalogSearchHelper->getResultUrl() ?>" method="get"><?php } ?>
    <div class="input-box">
      <?php if(Mage::helper('instantsearch')->getsearchurl()!='1') { ?>  <label for="search"><?php echo $this->__('Search:') ?></label><?php } ?>
        <input id="search" type="search" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text required-entry" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" placeholder="<?php echo $this->__('Search entire store here...') ?>" autocomplete="off"  />
        <?php if(Mage::helper('instantsearch')->getsearchurl()!='1') { ?>
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button search-button"><span><span><?php echo $this->__('Search') ?></span></span></button><?php } ?>
    </div>
</form>
