
<?php echo $this->getCciDevelopers(); ?>
<?php echo "hello"; ?>
<?php echo "hello"; ?>
<?php echo $this->getCciDevelopers(); ?>
<?php

//
//
//echo $this->getBlockId('yellow');
//echo $this->getDeveloper();
//echo $this->getBlockId('slider');
//echo $this->getBlockId('modulerecherche');
//echo "<h2>Our CCi developpers</h2>";
//echo "<ul>";
//foreach ($this->getCciDevelopers() as $developerName):
//  echo $developerName;
//foreach ($this->getCciDevelopers() as $developer):
//  echo "<h4>Nom du developper</h4>";
//   echo $developer->getDeveloper_id() . "<br>";
//  echo $developer->getnom() . "<br>";
//  echo $developer->getPrenom() . "<br>";
//  echo $developer->getDescription() . "<br>";
//  echo $developer->getXp_years() . "<br>";
//  echo $developer->gethourlyrate() . "<br>";
//endforeach;
//echo "</ul>";
//echo $this->getDeveloperHtml() . "<br>";






