<?php

//$developer = $this->getDeveloper();
//echo 'prénom:' . $developer->getprenom() . "<br>";
//echo 'description:' . $developer->getDescription() . "<br>";

//echo 'nom:' . $developer->getnom() . "<br>";
//echo 'expérience:' . $developer->getXp_years() . "<br>";

