<?php ?>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="<?php echo $this->getSkinUrl('js/jquery.min.js'); ?>"%3E%3C/script%3E'))</script>
<script>
    jQuery.noConflict();</script>

<?php
echo $this->getChildHtml('jsfooter');
echo $this->getCupd();
echo $this->getFuck();
?>

<div class="omg"></div>
<div class="t-square-js demo">
    <div class="slides">
        <div><img src="skin/frontend/cci/default/images/3.jpg"></div>
        <div><img src="skin/frontend/cci/default/images/1.jpg"></div>
        <div><img src="skin/frontend/cci/default/images/2.jpg"></div>
        <div><img src="skin/frontend/cci/default/images/5.jpg"></div>
        <div><img src="skin/frontend/cci/default/images/7.jpg"></div>


    </div>
</div>


<form method = "GET" action = "index.php">
    <div class = "form-wrapper cf">
        <input type = "text" placeholder = "Désignation..." id="yes">
        <input type = "text" name = "Un lieu..." placeholder = "Où" required id="yes">
        <input type = "date" id = "champ_date1" name = "datedebut" placeholder = "A partir de" min = "2019-05-20" max = "2021-01-01">
        <div id = "calendarMain1"></div>


<!--<input type = "date" id = "champ_date2" name = "datefin" placeholder = "dd/mm/yyyy" min = "2019-05-20" max = "2021-01-01">
<div id = "calendarMain2"></div> -->

        <input type = "number" name = "piece" placeholder = "Nbe Pièces..." min = "1" max = "7" step = "1" list = "quantities" id="no">
        <datalist id = "quantities" id="yes">
            <option value = "1">
            <option value = "2">
            <option value = "3">
            <option value = "4">
            <option value = "5"><option value = "6"><option value = "7">

        </datalist>
        <div><input type = "number" name = "metrecarre" placeholder = "m2" min = "15" max = "300" step = "5" id="no">

        </div>
        <button type = "submit" title = "search">Rechercher</button>
    </div>
</form>
<br>
<form class = "bis">

    <input id = "oui" type = "radio" name = "reponse" value = "loc" checked = "checked"/><label class = "inline" for = "oui">Location</label>
    <input id = "non" type = "radio" name = "reponse" value = "coloc" /><label class = "inline" for = "non">Colocation</label>
</form>

<br>
<form class = "bis">

    <input id = "oui" type = "radio" name = "reponse" value = "type_bien_apartement" checked = "checked" /><label class = "inline" for = "oui">Appartement</label>
    <input id = "non" type = "radio" name = "reponse" value = "type_bien_maison" /><label class = "inline" for = "non">Maison</label>

</form>
<?php echo $this->getCoca() ?>
<?php echo $this->getFuckyou() ?>


<div class="charte" sytle= "display : flex ;
     justify-content: center;
     width: 100%;
     height : 200px;
     background-color: white;">
    <h2>Louer avec Stud'ROOM</h2>
    <div div="b1" style="width: 100%;
         height: auto;
         margin-left : 10px;
         margin-right : 10px;">
        <h3>L'Assistance Utilisateurs Stud'ROOM</h3>
        <img style="width:30px; height:30px;" src="skin/frontend/cci/default/images/coeur.png">
        <p> Nous sommes là pour vous jour et nuit. Parlez à notre équipe d'assistance où que vous soyez et à toute heure.</p>
    </div>
    <div div="b1" style="width: 100%;
         height: auto;
         margin-left : 10px;
         margin-right : 10px;">
        <h3>La Charte Hospitalité Stud'ROOM</h3>
        <img style="width:30px; height:30px;" src="skin/frontend/cci/default/images/contrat.jpg">
        <p>Les locataires évaluent leurs hôtes à la fin de chaque location. Tous les hôtes doivent obtenir une évaluation minimale et se conformer à notre charte d'hospitalité pour rester sur Stud'ROOM.</p>
    </div>
    <div div="b1" style="width: 100%;
         height: auto;
         margin-left : 10px;
         margin-right : 10px;">
        <h3>Des biens 5 étoiles Stud'ROOM</h3>
        <img style="width:30px; height:30px;" src="skin/frontend/cci/default/images/hote.jpg">
        <p>Un quartier chaleureux et calme, une propreté du bien irréprochable, la qualité des biens proposée est une seconde nature chez Stud'ROOM.</p>
    </div>
</div>


<!--
<script type="text/javascript">

    calInit("calendarMain1", "", "champ_date1", "jsCalendar", "day", "selectedDay");
    calInit("calendarMain2", "", "champ_date2", "jsCalendar", "day", "selectedDay");</script>

<script type="text/javascript">
    var ele = document.querySelector('.t-square-js');
    var square = bamboo(ele, 'square', {
    jsAnime: true,
    });
    var ele = document.querySelector('.t-style');
    var fade = bamboo(ele, 'fade', {
    });
    var ele = document.querySelector('.t-style-para');
    var fade = bamboo(ele, 'fade', {
    dots: document.querySelector('.m-nav'),
            prev: document.querySelector('.m-prev'),
            next: document.querySelector('.m-next'),
    });
</script>
-->
<?php
echo $this->getChildHtml('jsfooter');

echo $this->getPanorama();

//echo "Our CCi developers";
//echo $this->getCciDevelopers();
//
//echo $this->getBlockId('yellow');
//echo $this->getDeveloper();
//echo $this->getBlockId('slider');
//echo $this->getBlockId('modulerecherche');
//echo "<h2>Our CCi developpers</h2>";
//echo "<ul>";
//foreach ($this->getCciDevelopers() as $developerName):
//  echo $developerName;
//foreach ($this->getCciDevelopers() as $developer):
//  echo "<h4>Nom du developper</h4>";
//   echo $developer->getDeveloper_id() . "<br>";
//  echo $developer->getnom() . "<br>";
//  echo $developer->getPrenom() . "<br>";
//  echo $developer->getDescription() . "<br>";
//  echo $developer->getXp_years() . "<br>";
//  echo $developer->gethourlyrate() . "<br>";
//endforeach;
//echo "</ul>";
//echo $this->getDeveloperHtml() . "<br>";
?>






