

h3 {
    margin: 10px;
    text-align: center;
    font-weight: 400;
    color: #334;
}

.demo {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    /*    border: 10px solid #fefefe;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, .1);*/
}
/**
.coca{
    display : block;
    position : relative;
    margin : auto;
    top : 50 px;
    width : 100%;
}
**/
.yellow>* {
    background: #ff0;
}

.red>* {
    background: #aa0000;
}

.blue>* {
    background: #00f;
}

img {
    width: 100%;
}

.t-style .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.t-style .dots>i {
    display: block;
    float: left;
    width: calc(100% / 7);
    height: 10px;
    background: #fff;
}

.t-style .dots>i:nth-of-type(1) {
    background: #FFD64F;
}

.t-style .dots>i:nth-of-type(2) {
    background: #F66064;
}

.t-style .dots>i:nth-of-type(3) {
    background: #7C3C83;
}

.t-style .dots>i:nth-of-type(4) {
    background: #D65671;
}

.t-style .dots>i:nth-of-type(5) {
    background: #EE9175;
}

.t-style .dots>i:nth-of-type(6) {
    background: #6796D7;
}

.t-style .dots>i:nth-of-type(7) {
    background: #F7EDF3;
}

.t-style .dots>i.focus {
    border-bottom: 2px solid #fff;
}

.t-style .next,
.t-style .prev {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 20px;
}

.t-style .prev:hover,
.t-style .next:hover {
    opacity: 0.6;
}

.t-style .prev {
    left: 20px;
    border-top: 8px solid transparent;
    border-right: 12px solid #F7EDF3;
    border-bottom: 8px solid transparent;
}

.t-style .next {
    left: 35px;
    border-top: 8px solid transparent;
    border-left: 12px solid #F7EDF3;
    border-bottom: 8px solid transparent;
}

.m-nav {
    text-align: center;
}

.m-nav>i {
    display: inline-block;
    margin: 4px;
    width: 10px;
    height: 10px;
    /** border-radius: 50%;**/
    border: 1px solid #aaa;
}

.m-nav>i.focus {
    background: #ff0;
}

.m-arrow {
    text-align: center;
}

.m-arrow>button {
    width: 100px;
    height: 35px;
    outline: 0;
    border: 0;
    background: #479FA4;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    border-top: 2px solid #76C3C1;
    border-bottom: 2px solid #404E4F;
    margin: 2px;
}

.m-arrow>button:hover {
    background: #378F94;
}

.barrerecherche{
    display: block;
    position : relative;
    margin : auto;
    width: 900px;
    height : 50px;
    background-color: #0e98df;
    border : red solid 1px ;
    z-index: 999;
    text-align: center;

}
.label{
    text-align: center;
    width: 100%;
    height: 100%;
}
.but{
    height: 30px;
    width : 100px;
    background-color: white;
}
/**
.imageblock{
    height: 300px;
    width : 100%;
}
**/
/* barre recherche */

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

.bis{
    display: block;
    position : relative;
    margin: auto;
    width: 300px;
    padding: 15px;
    color: white;
    top: -350px;
    background-color: rgba(0,0,0,0.3);
    /*   margin: 50px auto 50px auto;*/

    z-index: 999;
    /**border-radius: 10px;**/
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    text-align: center;
}

input[type="radio"] {
    margin-right: 10px;
    margin-left: 40px;

}

.form-wrapper {
    display: block;
    position : relative;
    margin: auto;
    width: 770px;
    padding: 15px;
    top: -350px;
    /*   margin: 50px auto 50px auto;*/
    border : black solid 1px ;
    z-index: 999;

    /**    border-radius: 10px;**/
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */



.form-wrapper input {
    width: 120px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    /** border-radius: 3px 0 0 3px;**/
}
.dated{
    width:50px;
    height: 20px;
}



.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #ff0000;
    /** border-radius: 0 3px 3px 0;**/
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

nav{
    witdh: 100%;
    height: 60px;
    background-color: white;
}