<?php ?>

<form method = "GET" action = "index.php">
    <div class = "form-wrapper cf">
        <input type = "text" placeholder = "Désignation..." id="yes" name="q">
        <input type = "text" name = "unlieu" placeholder = "Où" required id="yes">
        <input type = "date" id = "champ_date1" name = "datedebut" placeholder = "A partir de" min = "2019-05-20" max = "2021-01-01">
        <div id = "calendarMain1"></div>

        <input type = "number" name = "piece" placeholder = "Nbe Pièces..." min = "1" max = "7" step = "1" list = "quantities" id="no">
        <datalist id = "quantities" id="yes">
            <option value = "1">
            <option value = "2">
            <option value = "3">
            <option value = "4">
            <option value = "5"><option value = "6"><option value = "7">

        </datalist>
        <div><input type = "number" name = "metrecarre" placeholder = "m2" min = "15" max = "300" step = "5" id="no">

        </div>
        <button type = "submit" title = "search">Rechercher</button>
    </div>
</form>
<br>
<form class = "bis">

    <input id = "oui" type = "radio" name = "reponse" value = "loc" checked = "checked"/><label class = "inline" for = "oui">Location</label>
    <input id = "non" type = "radio" name = "reponse" value = "coloc" /><label class = "inline" for = "non">Colocation</label>
</form>

<br>
<form class = "bis">

    <input id = "oui" type = "radio" name = "reponse" value = "type_bien_apartement" checked = "checked" /><label class = "inline" for = "oui">Appartement</label>
    <input id = "non" type = "radio" name = "reponse" value = "type_bien_maison" /><label class = "inline" for = "non">Maison</label>

</form>

<script type="text/javascript">
//<![CDATA[
    calInit("calendarMain1", "", "champ_date1", "jsCalendar", "day", "selectedDay");
//]]>
//<![CDATA[
    calInit("calendarMain2", "", "champ_date2", "jsCalendar", "day", "selectedDay");
//]]>
</script>


