.newProducts { margin-bottom:30px; }
.newProducts ul, .newProducts ul ul, .newProducts ol, .newProducts ul.products-grid, .newProducts ul.products-list { list-style:none; margin:0 auto; padding:0; }
.newProducts ul li, .newProducts .pager .pages ol li { margin-left:0; }

.newProducts .pager { float:none; border-bottom:1px dotted #ddd; border-top:1px dotted #ddd; padding:10px 10px 5px; margin-bottom:20px; }

.newProducts .title h2 { font-weight:600; margin:10px 0; }

.newProducts .products-grid .price-box p { margin-bottom:0; }
.newProducts ul.products-list.rwd .price-box p { display:inline-block; margin:0 0 0 15px; }
.newProducts ul.products-list.default .price-box p { margin:0 0 3px; }

.default ul ul.add-to-links { margin-top:5px; }
